@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(24, 24, 27);
}

body {
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#root {
  height: 100vh;
}
